.list-subheader--wrapper{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-subheader--wrapper .input-search--wrapper{
  padding: 0.6rem 0.8rem;
}
