.list-movies--wrapper{
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  /* equal to padding in .list-movies-item--wrapper*/
  margin-right: -1rem;
  margin-left: -1rem;
  padding-top: 2rem;
}

.list-movies-item--wrapper{
  padding: 1rem;
  width: 25%;
}

.list-movies-item--card{
  box-shadow: 0.05rem 0.05rem 0.3rem var(--shadow-color);
  border-radius: 0.3rem;
  overflow: hidden;
}

.list-movies-item--poster{
  padding-top: 133.34%; /* Aspect ratio 4/3 */
}

.list-movies-item--info{
  padding: 0.8rem 1rem;
  background-color: var(--secondary-bg-color);
}

.list-movies-item--info-line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.list-movies-item--info-title{
  font-weight: bold;
}

.list-movies-item--info-year{
  padding-left: 0.5rem;
}

.list-movies-item--info-type{
  color: var(--secondary-text-color)
}